* {
    padding: 0;
    margin: 0;
    font-family: 'Handlee', cursive;
}

body {
    background: #1d1d1d;
}

ul li {
    list-style: none;
    font-size: 1rem;
}

ul li button {
    display: inline-block;
    background: transparent;
    color: white;
    border: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    width: 100%;
    border-top: 0.5px solid rgb(87, 85, 85);
    border-bottom: 0.5px solid rgb(121, 118, 118);
}

.fade-container {
    position:absolute;
    top: 10%;
    left: 0;
    right: 0;
    
    
    /* background-color: #2f2f2f; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade {
    text-align: center;
    
    width: 100%;
    text-decoration: none;
    
    

}

.fade h2 {
    color:white;
    
    text-align: center;
    line-height: 500px;
    font-size: 2rem;
    text-transform: uppercase;
    transform: scale(1);
    transition: all 1s;


    
    
    
    
    
}

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in;

}

.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}

.row,
.row-projects {
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);

}

.nav-center {
    background: #181818;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    padding: 1.5rem;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}
.logo a {
    text-decoration: none;
    color: white;
}



.nav-toggle {
    cursor: pointer;
}

.links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.links a {
    text-transform: capitalize;
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;


}


/* Kun hampurilaisnappia painaa niin links divin pituus muuttuu */
.show-links {
    height: 10rem;
}

.canvas-wrap {
    position: relative;
}

.container {
    position: absolute;
    /* asetetaan starfield functiota varten*/
    top: 0;
    right: 0;
    width: 100%;
    right: 0;
    position: absolute;
    color: white;

}

.testing {

    display: flex;
    justify-content: center;

    color: rgb(110, 110, 110);
    font-size: 1rem;
    font-style: italic;
    padding: 0.5rem;


}

.letters:before {
    content: "<p> Welcome to my site <p>";
    animation: animate 10s;
    animation-iteration-count: 1;
}

@keyframes animate {
    0% {
        content: "<"
    }

    4.7% {
        content: "<p"
    }

    7.7% {
        content: "<p>"
    }

    12.4% {
        content: "<p> W"
    }

    17.1% {
        content: "<p> We"
    }

    21.8% {
        content: "<p> Wel"
    }

    26.5% {
        content: "<p> Welc"
    }

    31.2% {
        content: "<p> Welco"
    }

    35.9% {
        content: "<p> Welcom"
    }

    40.6% {
        content: "<p> Welcome"
    }

    45.3% {
        content: "<p> Welcome t"
    }

    50% {
        content: "<p> Welcome to"
    }

    54.7% {
        content: "<p> Welcome to m"
    }

    59.4% {
        content: "<p> Welcome to my"
    }

    64.1% {
        content: "<p> Welcome to my s"
    }

    68.8% {
        content: "<p> Welcome to my si"
    }

    73.5% {
        content: "<p> Welcome to my sit"
    }

    78.2% {
        content: "<p> Welcome to my site"
    }

    82.9% {
        content: "<p> Welcome to my site <"
    }

    87% {
        content: "<p> Welcome to my site <p"
    }

    92.3% {
        content: "<p> Welcome to my site <p>"
    }
}

.intro {



    height: 400px;
    margin: 40px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.intro h1 {

    font-size: 3rem;
    margin: 10px 0;
}



.intro p {
    width: 80%;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
}


.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second p {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.row {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.col {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    margin-top: 40px;
    
}

.col h1 {
    margin: 10px 0;
}
.col p {
    width: 80%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.project {
    margin: 20px 30px;
    width: 70%;
    text-align: center;
}
.project-img {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.project-img img {
    width: 80%;
}

.button {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    margin-top: 100px;
}

.project-info p {
    
    margin: 10px auto;
    width: 80%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.row-projects {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.col-projects {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px 0;
    
}

.projects-links-a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    letter-spacing: 7px;
    padding: 18px 20px;
    background:transparent;
    font-size: 10px;
    color: white;
    
}

.projects-links-a::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: -1%;
    top: -5px;
    background-color: #ee5253;
    transform: skewX(30deg);
    z-index: -1;
    
    
}


.projects-links-a::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 51%;
    top: 5px;
    background-color: #0a3d62;
    transform: skewX(30deg);
    z-index: -1;
    
    
}
.linkki-kuvaan,
.linkki-git {
    padding: 0;
    color:rgb(250, 250, 250);
}
.linkki-git {
    margin-top: 30px;
}
.info-p p{
    width: 100%;
    
}

/* 
/////////////////////////////////////////////////////////
//////////// PROJECTS PAGE CSS /////////////////////////
////////////////////////////////////////////////////////
*/

.intro-projects-page {



    height: 700px;
    margin: 40px 0 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.intro-projects-page h1 {

    font-size: 3rem;
    margin: 10px 0;
}



.intro-projects-page p {
    width: 80%;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
}


@media screen and (min-width:785px) {



    

    .fade h2 {
        color: white;

        text-align: center;
        line-height: 500px;
        font-size: 4rem;
        text-transform: uppercase;
        transform: scale(1);
        transition: all 1s;







    }
    .nav-center {
        z-index: 10;
        width: 8%;
        height: 1000px;
        padding: 0;


        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column;



    }

    .nav-header {
        width: 100%;

    }

    .logo {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(29, 29, 29);
        margin: 50px 0;
        width: 100%;
        padding: 1.5rem;
        
    }
    
    .nav-header h3 {
        font-size: 2rem;

    }

    .nav-toggle {
        display: none;
    }

    .links {

        width: 100%;
        padding: 0;
        height: auto;
        margin-top: 50px;



    }

    .testing {
        margin-top: 30px;
    }




    .transition-1 {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 101;
        background-color: white;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in;

    }

    .transition-1.is-active {
        opacity: 1;
        pointer-events: all;
    }


    ul li {
        font-size: 2rem;
    }

    .page-container {
        display: flex;





    }

    .nav-toggle {
        display: none;
    }

    .container {
        position: absolute;
        /* asetetaan starfield functiota varten*/
        top: 0;
        right: 0;
        width: 90%;
        right: 0;
        position: absolute;
        color: white;
    }



    .intro {


        height: 600px;
        margin-top: 10px;

    }


    .intro p {


        margin: 20px 0;

    }



    .second {

        margin: 50px 0;

        height: 600px;

    }

    .second p {
        font-size: 1.5rem;
        width: 60%;
        margin: 50px 0;
        letter-spacing: 3px;
    }





    .col {
        margin-bottom: 50px;
    }
    ul li button:hover {
        color: blue;
    }

    /* 
    ///////////////////////////////////////
    ///////////projects page//////////////
    /////////////////////////////////////
    */
    
        
        .project {
            margin: 20px 30px;
            width: 100%;
            
        }
    
        .project-img {
            flex-direction: row;
        }

        .project-img img {
            width: 500px;
        }
    
        
        .project-info p {
            margin: 0 auto;  
        }
        .projects-links-a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            position: relative;
            letter-spacing: 7px;
            padding: 18px 30px;
            background: transparent;
            font-size: 20px;
            color: white;
        }
    
        .projects-links-a::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 50%;
            left: -1%;
            top: -5px;
            background-color: #ee5253;
            transform: skewX(30deg);
            z-index: -1;
            transition: all 0.3s cubic-bezier(0.68, -0.5, 0.265, 1.55)
        }
    
        .projects-links-a:hover:before {
            transform: skewX(0deg);
            left: 50%;
            top: 0;
        }
    
        .projects-links-a::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 50%;
            left: 51%;
            top: 5px;
            background-color: #0a3d62;
            transform: skewX(30deg);
            z-index: -1;
            transition: all 0.3s cubic-bezier(0.68, -0.5, 0.265, 1.55)
        }
    
        .projects-links-a:hover:after {
            transform: skewX(0deg);
            left: 0%;
            top: 0;
        }

       
    
        
}